nav ul li .megamenu {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  top: -00px;
  left: 0;
  padding: 40px 40px 0 40px;
  background: #4096ee;
  text-align: left;
  border-top: 5px solid #4096ee;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1; }

/*Style-settings for submenu*/
/*Style-settings for submenus submenu*/
