//Intialize flex-card

.list {
  @extend %flexcard-container;
		
}

.list-item{
	@include select-card(2){
p{
	margin: 0;
	padding: 0;
}

@include respond-to('large') {

  
    width: 66.66%;
  
}
		
	}
}

.list-content{
	@extend %flexcard-content;
}

