.container{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.red-circle{
background: red;

border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}

.blue-circle{
background: blue;

}

.green-circle{
background: green;

}
