/*Style-settings for img tag*/
img {
  width: 100%;
  height: auto; }

/*Style-settings for class imgs*/
.imgs {
  max-width: 25em;
  margin: 1em auto;
  padding: 0;
  list-style-type: none; }

/*Style-settings for class img*/
.img {
  padding-top: 1em;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: gray; }

/*Style-settings for h3 tag in class img*/
.img h3 {
  color: black;
  text-align: center;
  padding-bottom: 0.5em; }

@media screen and (min-width: 45em) {
  /*Style-settings for class img-1. Tablet-version-no-grid*/
  .img-1 {
    height: 0;
    width: 100%;
    margin-left: -11em;
    margin-bottom: 0; }
  /*Style-settings for class img-2. Tablet-version-no-grid*/
  .img-2 {
    margin-top: -1em;
    height: 0;
    width: 100%;
    margin-left: 11em;
    margin-bottom: 0; }
  /*Style-settings for class img-3. Tablet-version-no-grid*/
  .img-3 {
    margin-top: 19em;
    height: 0;
    width: 100%;
    margin-left: -11em; }
  /*Style-settings for class img-4. Tablet-version-no-grid*/
  .img-4 {
    margin-top: -1em;
    height: 0;
    width: 100%;
    margin-left: 11em; }
  /*Style-settings for class img-5. Tablet-version-no-grid*/
  .img-5 {
    margin-top: 19em;
    height: 0;
    width: 100%;
    margin-left: -11em;
    margin-bottom: 0; }
  /*Style-settings for class img-6. Tablet-version-no-grid*/
  .img-6 {
    margin-top: -1em;
    height: 0;
    width: 100%;
    margin-left: 11em; }
  /*Style-settings for class img-7. Tablet-version-no-grid*/
  .img-7 {
    margin-top: 19em;
    height: 0;
    width: 100%;
    margin-left: -11em; } }

@media screen and (min-width: 64em) {
  /*Style-settings for class img-1. desktop-version-no-grid*/
  .img-1 {
    height: 0;
    width: 100%;
    margin-left: -21em; }
  /*Style-settings for class img-2. desktop-version-no-grid*/
  .img-2 {
    height: 0;
    width: 100%;
    margin-left: 21em;
    margin-top: -1em;
    margin-bottom: 0; }
  /*Style-settings for class img-3. desktop-version-no-grid*/
  .img-3 {
    margin-top: -1em;
    height: 0;
    width: 100%;
    margin-left: 0; }
  /*Style-settings for class img-4. desktop-version-no-grid*/
  .img-4 {
    margin-top: 19em;
    height: 0;
    width: 100%;
    margin-left: -21em; }
  /*Style-settings for class img-5. desktop-version-no-grid*/
  .img-5 {
    height: 0;
    width: 100%;
    margin-left: 21em;
    margin-top: -1em;
    margin-bottom: 0; }
  /*Style-settings for class img-6. desktop-version-no-grid*/
  .img-6 {
    margin-top: -1em;
    height: 0;
    width: 100%;
    margin-left: 0; }
  /*Style-settings for class img-7. desktop-version-no-grid*/
  .img-7 {
    margin-top: 19em;
    height: 0;
    width: 100%;
    margin-left: 0; } }

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  /*Style-settings for img tag. version-for-grid*/
  img {
    width: 100%;
    height: auto; }
  /*Style-settings for class imgs. version-for-grid*/
  .imgs {
    max-width: 100em;
    margin: 1em auto;
    padding: 0;
    list-style-type: none; }
  /*Style-settings for class img. version-for-grid*/
  .img {
    padding-top: 1em;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: gray; }
  /*Style-settings for h3 tag in class img. version-for-grid*/
  .img h3 {
    color: black;
    text-align: center;
    padding-bottom: 0.5em; }
  @media screen and (min-width: 45em) {
    /*Style-settings for class imgs. Tablet-version-with-grid*/
    .imgs {
      display: grid;
      margin: 0 auto;
      grid-template-columns: auto auto;
      grid-template-areas: "img1 img1" "img2 img3" "img4 img5" "img6 img7"; }
    /*Style-settings for class img. Tablet-version-with-grid*/
    .img {
      display: grid; }
    /*Style-settings for class img-1. Tablet-version-with-grid*/
    .img-1 {
      grid-area: img1;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-2. Tablet-version-with-grid*/
    .img-2 {
      grid-area: img2;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-3. Tablet-version-with-grid*/
    .img-3 {
      grid-area: img3;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-4. Tablet-version-with-grid*/
    .img-4 {
      grid-area: img4;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-5. Tablet-version-with-grid*/
    .img-5 {
      grid-area: img5;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-6. Tablet-version-with-grid*/
    .img-6 {
      grid-area: img6;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-7. Tablet-version-with-grid*/
    .img-7 {
      grid-area: img7;
      margin: 0;
      height: auto;
      width: 100%; } }
  @media screen and (min-width: 64em) {
    img {
      width: 100%;
      height: auto; }
    /*Style-settings for class imgs. desktop-version-with-grid*/
    .imgs {
      display: grid;
      margin: 0 auto;
      grid-template-columns: auto auto auto auto auto;
      grid-template-areas: "img1 img2 img2 img4 img4" "img3 img2 img2 img6 img6" "img5 img5 img7 img6 img6"; }
    /*Style-settings for class img. desktop-version-with-grid*/
    .img {
      display: grid;
      margin-top: 1em;
      padding: em; }
    /*Style-settings for class img-1. desktop-version-with-grid*/
    .img-1 {
      grid-area: img1;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-2. desktop-version-with-grid*/
    .img-2 {
      grid-area: img2;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-3. desktop-version-with-grid*/
    .img-3 {
      grid-area: img3;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-4. desktop-version-with-grid*/
    .img-4 {
      grid-area: img4;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-5. desktop-version-with-grid*/
    .img-5 {
      grid-area: img5;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-6. desktop-version-with-grid*/
    .img-6 {
      grid-area: img6;
      margin: 0;
      height: auto;
      width: 100%; }
    /*Style-settings for class img-7. desktop-version-with-grid*/
    .img-7 {
      grid-area: img7;
      margin: 0;
      height: auto;
      width: 100%; } } }
