.main:first-child h1{
    font-size: 16px;
}
.card{
    font-size: 14px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap:1.5em;
    padding: 1.5em;
    margin-bottom: 1.5em;
    grid-template-areas:  
    "img title"
    "img content"
    ;
}

.card h1{
    margin: 0;
    font-weight: none;
    color: black;
    padding: 0;
    font-size: 14px;
    left: 0;
    text-align: baseline;
}

.card-image{
    grid-area: img;
}

.card-title{
    grid-area: title;
}
.card-content{
    grid-area: content;
}